html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}



.home-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* Ensure it doesn't exceed viewport width */
    background-color: #181818;
    color: #fff;
    overflow: hidden;
    /* Prevent both horizontal and vertical scrolling */
}

.top-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}


/* Main content area */
.main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10vh;
}

.attendance-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 2vmax;
    margin-bottom: 2vmax;
    background-color: transparent;
}

.controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    margin-bottom: 2rem;
}

.month-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #181818;
  border: 1px solid #ccc;
  color: #fff;
  font-size: 1rem;
  padding: 10px 40px 10px 14px;
  border-radius: 8px;
  position: relative;

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.month-input:focus {
  border-color: #4169E1;
}


.search-btn {
    background-color: #6c3ef6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.attendance-table-wrapper {
    flex: 1;
    overflow-x: auto;
    max-height: calc(100vh - 300px);
    font-size: medium;
}

/* .attendance-table {
    border-collapse: collapse;
    width: 100%;
} */

.attendance-table-wrapper .MuiPaper-root {
    background-color: transparent !important;
    box-shadow: none !important;
}


.attendance-table-wrapper td {
    background-color: transparent ;
    color: #fff;
    border: 1px solid rgba(80, 78, 78, 0.2) ;
    backdrop-filter: blur(4px);
    padding: 20px;
    font-size: medium;

}

.attendance-table-wrapper th {
    position: sticky;
    top: 0;
    background-color: rgba(24, 24, 24, 0.9) ;
font-size: large;  
font-weight: bolder;
border: 1px solid rgba(163, 158, 158, 0.2) ;
    color: white;
    z-index: 1;
}